[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "==19.3b0"
flake8 = "*"
pycodestyle = "*"
mypy = "*"
pytest = "==3.7.1"
pluggy = "==0.7.1"
pytest-cov = "*"
pytest-quickcheck = "*"
pytest-mpl = "*"
pytest-random-order = "*"
sphinx = "*"

[packages]
numpy = "==1.15.4"
pandas = "==0.23.4"
scipy = "==1.1.0"
matplotlib = "==3.0.2"
cmd2 = "*"
gnureadline = "*"
pyqt5 = "*"
tableformatter = "*"

[requires]
python_version = "3.7"
